asgiref==3.7.2
astroid==2.15.6
attrs==23.1.0
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
colorama==0.4.6
dill==0.3.7
distlib==0.3.7
Django==4.2.3
exceptiongroup==1.1.2
filelock==3.12.2
h11==0.14.0
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
outcome==1.2.0
packaging==23.1
platformdirs==3.9.1
pluggy==1.2.0
pycparser==2.21
pylint==2.17.5
pyproject-api==1.5.3
PySocks==1.7.1
selenium==4.10.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
tomlkit==0.12.1
tox==4.6.4
trio==0.22.2
trio-websocket==0.10.3
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.24.0
wrapt==1.15.0
wsproto==1.2.0
